<header class="header">
    <mat-toolbar color="primary">

        <span>My First App</span>
        <span class="example-spacer"></span>
        <ul class="header-menu">
            <li><a routerLink="/" class="active" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Anasayfa</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/cards" routerLinkActive="active">Kartvizitler</a></li>
        </ul>
    </mat-toolbar>

</header>